
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1489391304016'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1489391304016#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1489391304016') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1489391304016') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1489391304016#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saoyisao:before { content: "\e631"; }

.icon-zhimaxinyong:before { content: "\e65d"; }

.icon-xiangji:before { content: "\e608"; }

.icon-mayijubao:before { content: "\e611"; }

.icon-wode5:before { content: "\e603"; }

.icon-zhuanzhang:before { content: "\e609"; }

.icon-fukuanma:before { content: "\e67c"; }

.icon-qiaquan:before { content: "\e67f"; }

.icon-quanbu:before { content: "\e62c"; }

.icon-xinyongqiahuankuan:before { content: "\e685"; }

.icon-chongzhizhongxin:before { content: "\e670"; }

.icon-taopiaopiao:before { content: "\e606"; }

.icon-yuebao:before { content: "\e604"; }

.icon-didichuhang:before { content: "\e610"; }

.icon-koubei:before { content: "\e65e"; }

.icon-pengyou:before { content: "\e660"; }

.icon-zhifubao:before { content: "\e697"; }

.icon-chengshifuwu:before { content: "\e65f"; }

.icon-search:before { content: "\e501"; }

.icon-icon-yxj-location:before { content: "\e607"; }

